<!DOCTYPE html>
<html>
<head>
	<title>MEAN ROMAN NUMERALS</title>
	<script type="text/javascript" src="./node_modules/angular/angular.js"></script>
	<script type="text/javascript" src="./js/app.js"></script>
	<link rel="stylesheet" type="text/css" href="./styles/style.css">
</head>
<body ng-app="app" ng-controller="Main">
<h1>ROMAN NUMERALS KATA</h1>
<p>Hello, hello and welcome to Mean-Roman, a roman numeral converter built using the MEAN stack</p>
<p>Please enter a valid Roman numeral or a number to convert</p>
<div class='converter'>
	<form ng-submit="submit()" method="POST">
		<p class="error">{{error}}</p>
		<input ng-model="from" type="text" name="from" placeholder="CONVERT ME" required>
		<input type="submit" value="Convert">
		<h3>From</h3>
		<h2 class='blue'>{{answerFrom}}</h2>
		<h3>To</h3>
		<h2 class='blue'>{{answer}}</h2>
	</form>
</div>

<h3>RECENT CONVERSIONS</h3> <button ng-click="deleteAll()">REMOVE ALL</button>
<table>
  <tr>
    <th class="text-left">Date</th>
    <th>From</th> 
    <th>To</th>
  </tr>
  <tr ng-repeat="conversion in all.data | limitTo:10">
    <td class="text-left">{{conversion.date}}</td>
    <td>{{conversion.from}}</td>
    <td>{{conversion.to}}</td> 
  </tr>
</table>

</body>
</html>