body {
width: 100%;
text-align: center;
font-family: arial;
background: #F8F8F8;
}

.converter {
	border-radius: 15px;
	margin: 0 auto;
	padding: 30px;
	background: white;
	color: #383838;
	h3 {
		padding-top: 20px;
	}
	form {
		input {
		    background: white;
		    padding: 10px 15px;
		    border: black 1px solid;
		    border-radius: 10px;
		}
		input[type="text"] {
			margin-right: 20px;
    		width: 200px;
    		&:active {
    			background: #F0F8FF;
    		}
		}
		input[type="submit"] {
		    cursor: pointer;
		    &:hover {
		    	background: black;
		    	color: white;
		    }
		}
		.error {
		    padding: 15px;
		    border-radius: 15px;
		    text-decoration: bold;
		    color: red;
		    text-transform: uppercase;
		}
	}
}

table {
    margin: 0 auto;
    background: white;
    padding: 20px;
    border-radius: 15px;
    th {
    	text-decoration: underline;
    }
}

.text-left {
	text-align: left;
}


button {
	background: white;
	padding: 10px 15px;
	border: black 1px solid;
	border-radius: 10px;
	margin-bottom: 30px;
	cursor: pointer;
	&:hover {
		background: black;
		color: white;
	};
}

.blue {
	color: blue;
}

@media (min-width:320px)  { 

	.converter {
		width: 100%;
	}

	table {
		width: 100%;
	}

}

@media (min-width:801px)  { 

	.converter {
		width: 600px;
	}

	table {
		width: 600px;
	}

}
